body{
	background-color: chocolate;
}

#flex-header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 2em;
	align-items: center;
}

/*#titre {
	font-size: 2em;
}*/

.class{
	position: absolute;
    margin-top: -60px;
}


