nav a.navLink{
position: relative;
display: inline-block;
}

#menuClient:hover  ~ #listeMenu {
    display: flex;
    flex-direction: column;
}

#listeMenu {
    display: none;
    list-style: none;
    -webkit-padding-start: 0;
    position: absolute;
} 

/*#menuClient:active .menuContent{
    display: block;
}*/

